$icon-font-path: '../fonts/';

// bower:scss

@import "/bower_components/chico/dist/ui/chico.css";
@import "mesh.scss";
@import "solapas.scss";

// endbower

legend{
  display: none
}

body{
  .container{
    background-color: #FFF059
  }
}

#mainImg{
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  text-align:center;
  width: 300px;
  height: 300px;
  padding: 0px;
  img{
    text-align: center;
    vertical-align: middle;
    max-height: 300px;
    max-width: 300px;
  }
}

#precio{
  font-size: 2.8em;
  color: #ff0000;
  
  sub{
    vertical-align: text-top;
    font-size: 0.5em;
    line-height: 1em;
  }
}

.from-group{
  position:relative;
  padding-top: 5px;
  padding-bottom:5px;
}



.myCarousel{
  width: 100%;
}

.myCarousel .ch-carousel-item {
  width: 50px;
  height: 50px;
}

.myCarousel img {
  max-width: 100%;
  max-height: 100%;
}